.modal {
  display: block;
  visibility: hidden;
}

.modal-show {
  visibility: visible;
  background-color: rgba(169, 169, 169, 0.8);
  transition: opacity 0.2s linear;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  opacity: 0;
}

.modal-show .modal-content {
  opacity: 1;
  transition: 0.2s linear;
}

